extends ./layout

block title
  title 見積書の発行完了｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='../') 見積書
        li.breadcrumb-item
          a(href='./' aria-current='page') 完了

block main
  main
    .container-fluid
      h1.mt-3 見積書の発行完了
      p 見積書の発行が完了しました。

      nav(aria-label='メイン')
        .d-grid.gap-2
          a.btn.btn-success(href='../print/' + url.search target='_blank') 見積書を表示する
        .mt-3
          a(href='../../list/') 保存リストに戻る
