extends ./layout
include ./product-item

block title
  title 見積書の発行完｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='./' aria-current='page') 見積書

block main
  main
    .container-fluid
      h1.mt-3 見積書の発行

      form(role='form')
        dl
          dt 宛名
          dd 株式会社ロレムイプサム 御中

          dt メールマガジン
          dd 受け取る

          dt メールアドレス
          dd demo@loremipsum.co.jp

        .row
          .col-6.order-last
            .d-grid
              a.btn.btn-primary(href='../finish/') 見積書を発行する
          .col-6
            .d-grid
              a.btn.btn-link(href='../')
                span(aria-hidden='true') &laquo; 
                | 入力画面へ戻る
