extends ./layout

block main
  main
    .container-fluid
      h1.mt-3 オプション選択
      .d-md-flex.gap-3
        .flex-grow-1.mt-3
          .row.justify-content-center.gx-3.gy-3.sticky-md-top
            .col-6
              figure
                .skeleton-image
                figcaption.text-center.mt-2 正面画像
            .col-6
              figure
                .skeleton-image
                figcaption.text-center.mt-2 側面画像
        .flex-grow-0.mt-3(style='flex-basis: 400px; padding-bottom: 90px')
          form(role='form')
            fieldset
              legend 外寸
              .form-group.mb-3
                label.form-label(for='width') W(幅)[cm]
                input.form-control(type='number' name='width' id='width' min='15' max='90' step='1' aria-describedby='widthDescription')
                #widthDescription
                  p.form-text 最小サイズ：15cm、最大サイズ：90cm
              .form-group.mb-3
                label.form-label(for='height') H(高さ)[cm]
                input.form-control(type='number' name='height' id='height' min='49' max='200' step='1' aria-describedby='widthDescription')
                #heightDescription
                  p.form-text 最小サイズ：49cm、最大サイズ：200cm
              .form-group
                label.form-label(for='depth') D(奥行)[cm]
                input.form-control(type='number' name='depth' id='depth' min='19' max='46' step='1' aria-describedby='widthDescription')
                #depthDescription
                  p.form-text.mb-0 最小サイズ：19cm、最大サイズ：46cm

            hr.mt-4.mb-4

            fieldset
              legend 棚板の枚数
              .form-group
                .d-flex.gap-1
                  each el, i in new Array(6)
                    input.btn-check(type='radio' name='row' id='row' + i autocomplete='off')
                    label.btn.btn-outline-secondary.flex-grow-1(for='row' + i) #{(i + 1)}枚

            hr.mt-4.mb-4

            fieldset
              legend 棚板の厚さ
              .form-group
                .d-flex.gap-1
                  input.btn-check(type='radio' name='thickness' id='thickness0' autocomplete='off')
                  label.btn.btn-outline-secondary.flex-grow-1(for='thickness0') 17mm

                  input.btn-check(type='radio' name='thickness' id='thickness1' autocomplete='off')
                  label.btn.btn-outline-secondary.flex-grow-1(for='thickness1') 25mm

            hr.mt-4.mb-4

            fieldset
              legend 棚板の取り付け
              .form-group
                .d-flex.gap-1
                  input.btn-check(type='radio' name='fix' id='fix0' autocomplete='off')
                  label.btn.btn-outline-secondary.flex-grow-1(for='fix0') ビス（固定）

                  input.btn-check(type='radio' name='fix' id='fix1' autocomplete='off')
                  label.btn.btn-outline-secondary.flex-grow-1(for='fix1') 棚ダボ（可動）

            hr.mt-4.mb-4

            fieldset
              legend 背面の有無
              .form-group
                .d-flex.gap-1
                  input.btn-check(type='radio' name='back' id='back0' autocomplete='off')
                  label.btn.btn-outline-secondary.flex-grow-1(for='back0') あり

                  input.btn-check(type='radio' name='back' id='back1' autocomplete='off')
                  label.btn.btn-outline-secondary.flex-grow-1(for='back1') なし

            hr.mt-4.mb-4

            fieldset
              legend カラー
              .form-group
                .color
                  each el, i in [['ナチュラル', 'rgb(196,178,149)'], ['ホワイト', 'rgb(235,229,215)'], ['ブラウン', 'rgb(87,61,43)'], ['ブラック', 'rgb(50,46,47)']]
                    .color-item
                      input(type='radio' name='color' id='color' + i autocomplete='off')
                      label(for='color' + i)
                        span.is-outer
                          span.is-inner(style='background: ' + el[1])
                        | #{el[0]}

            .position-fixed.w-100(style='left: 0; bottom: 0; z-index: 1021')
              .border-top.bg-white.px-3
                .d-flex.align-items-center(style='height: 60px')
                  dl.mb-0.ms-auto
                    dt.d-inline-block.me-1.fw-normal 納期
                    dd.d-inline-block.mb-0.me-3 <span style="font-size: 1.5rem;">20</span>日

                    dt.d-inline-block.me-1.fw-normal 価格
                    dd.d-inline-block.mb-0.me-3 &yen;<span style="font-size: 1.5rem;">20,000</span>(税込)

                  a.btn.btn-primary(href='./list/' style='flex-basis: 200px;') 保存リストに追加
              

block footer

block backward
