doctype html
html(lang='ja')
  head
    block meta
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
      title オーダーメイド本棚注文システム（デモ）
    block style
      link(rel='stylesheet' href='/static/css/bootstrap.min.css')
      link(rel='stylesheet' href='/static/css/bootstrap-icons.css')
      link(rel='stylesheet' href='/static/css/screen.css')
  body
    #page
      block forward
        nav(aria-label='進む')
          .container-fluid
            a.visually-hidden-focusable(href='#content') メインコンテンツへ進む
      block header
        header
          nav(aria-label='ヘッダー')
            .navbar.navbar-expand.navbar-light.bg-light
              .container-fluid
                a.navbar-brand(href='/') オーダーメイド本棚 <br> 注文システム（デモ）
                .collapse.navbar-collapse
                  ul.navbar-nav.ms-auto
                    li.nav-item
                      a.nav-link(href='/list/') 保存リスト
      block breadcrumb
      #content
        block main
      block backward
        nav(aria-label='戻る')
          .position-fixed(style='bottom: 1rem; right: 1rem; opacity: 0.7')
            a(href='#page') ページトップへ戻る
      block footer
        footer
          .border-top.mt-3.pt-3.pb-3
            .container-fluid &copy; Lorem Ipsum Co. Ltd.
      block script
        script(src='/static/js/bootstrap.bundle.min.js')
