extends ./layout
include ./product-item

block title
  title 保存リスト｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='./' aria-current='page') 保存リスト

block main
  main
    #main
