extends ./layout
include ./product-item

block title
  title 保存リスト｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='./' aria-current='page') 保存リスト

block main
  main
    .container-fluid
      h1.mt-3 保存リスト
      section
        h2 商品1
        nav.mt-3(aria-label='商品1のメニュー')
          .d-flex.flex-wrap.gap-2
            a.btn.btn-outline-primary(href='../product/1234/edit/') 変更
            a.btn.btn-outline-danger(href='../product/1234/delete/') 削除
        +product-item

      nav.mt-3(aria-label='メイン')
        ul.list-unstyled
          li
            a(href='../question/?category=product') 商品についてお問い合わせ
          li
            a(href='../question/?category=discount') 法人割引についてお問い合わせ

        .row.gx-3
          .col
            .d-grid
              a.btn.btn-outline-primary(href='../estimate/') 見積書を発行する
          .col
            .d-grid
              a.btn.btn-primary(href='../order/') 注文

        .d-flex.justify-content-end.mt-3
          a.btn.btn-outline-secondary(href='../product/add/') 別の商品を追加する
