extends ./layout
include ./product-item

block title
  title 注文｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='./' aria-current='page') 注文

block main
  main
    .container-fluid
      h1.mt-3 注文

      section.border-bottom.pb-3.mt-3
        h2 商品1
        +product-item

      section.border-bottom.pb-3.mt-3
        h2 商品2
        +product-item

      section.border-bottom.pb-3.mt-3
        h2 合計金額
        .row.justify-content-end
          .col-sm-6
            dl.row.mb-0
              dt.col-6 送料
              dd.col-6 &yen;1,000

              dt.col-6 代引手数料
              dd.col-6 &yen;500

              dt.col-6 小計（税抜）
              dd.col-6 &yen;41,500

              dt.col-6 消費税（10％）
              dd.col-6 &yen;4,150

              dt.col-6 合計（税込）
              dd.col-6.mb-0 &yen;45,650

      section.mt-3
        h2 注文について
        dl
          dt お名前
          dd ここにお名前が入ります

          dt フリガナ
          dd ここにフリガナが入ります

          dt 会社名
          dd 株式会社ロレムイプサム

          dt 郵便番号
          dd 9402039

          dt 住所
          dd 新潟県長岡市関原南4-3934

          dt 電話番号
          dd 0258945233

          dt メールアドレス
          dd shelf@loremipsum.co.jp

          dt 備考
          dd
            p.mb-0.
              ここにテキストが入ります。<br>
              ここにテキストが入ります。<br>
              ここにテキストが入ります。

          dt お支払い方法
          dd クレジットカード

        .row
          .col-6.order-last
            .d-grid
              a.btn.btn-primary(href='../payment/') 注文を確定する
          .col-6
            .d-grid
              a.btn.btn-link(href='../')
                span(aria-hidden='true') &laquo; 
                | 入力画面へ戻る
