extends ./layout

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='../') 注文
        li.breadcrumb-item
          a(href='./' aria-current='page') 完了

block main
  main
    .container-fluid
      h1.mt-3 注文完了
      p 注文が完了しました。
      dl
        dt 注文日時
        dd 2021年5月3日(月)

        dt 注文番号
        dd 1111-2222-3333

      .d-grid
        a.btn.btn-success(href='../../../list/') 保存リストを表示する
