extends ./layout
include ./product-form

block title
  title 商品の変更｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='./' aria-current='page') 変更

block main
  main
    .container-fluid
      h1.mt-3 商品の変更
      +product-form(submit={href: '../../../list/', text: '保存リストを更新する'})

block footer

block backward
