mixin product-item
  .row.gx-3.mt-3
    .col-12.col-sm-6
      .row.gx-2
        .col
          figure
            .skeleton-image
            figcaption.text-center 正面画像
        .col
          figure
            .skeleton-image
            figcaption.text-center 側面画像
    .col-12.col-sm-6
      dl.row.mb-0
        dt.col-6 W(幅)
        dd.col-6 15cm

        dt.col-6 H(高さ)
        dd.col-6 49cm

        dt.col-6 D(奥行)
        dd.col-6 19cm

        dt.col-6 棚板の枚数
        dd.col-6 1枚

        dt.col-6 棚板の厚さ
        dd.col-6 17mm

        dt.col-6 棚板の取り付け
        dd.col-6 ビス（固定）

        dt.col-6 背面の有無
        dd.col-6 なし

        dt.col-6 カラー
        dd.col-6 ナチュラル

        dt.col-6 数量
        dd.col-6 1台

        dt.col-6 単価
        dd.col-6 &yen;20,000

        dt.col-6 金額
        dd.col-6.mb-0 &yen;20,000
