extends ./layout

block title
  title 商品の変更｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='./' aria-current='page') 変更

block main
  main
    #main

block footer

block backward
