extends ./layout

block title
  title お問い合わせ完了｜オーダーメイド本棚注文システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../list/') 保存リスト
        li.breadcrumb-item
          a(href='../') お問い合わせ
        li.breadcrumb-item
          a(href='./' aria-current='page') 完了

block main
  main
    .container-fluid
      h1.mt-3 お問い合わせ完了
      p
        | この度はお問い合わせをいただきましてありがとうございます。<br>
        | 下記の通りお問い合わせ番号を発行しましたのでお知らせいたします。
      dl
        dt お問い合わせ番号
        dd 1111-2222-3333
      p
        | お問い合わせ内容をメールにて送信いたしましたのでご確認ください。<br>
        | メールが届かない場合、誠に恐れ入りますが下記までお問い合わせください。
      dl
        dt 電話番号
        dd 0258-94-5233

        dt メールアドレス
        dd shelf@loremipsum.co.jp

        dt お願い
        dd
          p.mb-0
            | お問い合わせの際は下記3点をお知らせください。<br>
            | 1. お名前<br>
            | 2. お問い合わせ番号<br>
            | 3. お問い合わせ日

      .d-grid
        a.btn.btn-success(href='../../../list/') 保存リストを表示する
